/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.feature {
  padding-top: 80px;
  padding-bottom: 80px;
}

.feature .feature-item+.feature-item {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .feature .feature-item+.feature-item {
    margin-top: 40px;
  }
}

.feature .feature-item h3 {
  font-weight: 600;
  font-size: 38px;
  color: #001973;
}

.feature .feature-item ul {
  list-style: none;
  padding: 0;
}

.feature .feature-item ul li {
  padding-bottom: 10px;
}

.feature .feature-item ul li:last-child {
  padding-bottom: 0;
}

.feature .feature-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--color-primary);
}

.feature .feature-item p:last-child {
  margin-bottom: 0;
}



/*--------------------------------------------------------------
# Our Team Section
--------------------------------------------------------------*/

.TEAM{
    margin-top: 60px;
    padding-bottom: 60px;
    
}
.TEAM .member {
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid rgba(14, 29, 52, 0.15);
  }
  
  .TEAM .member img {
    margin: -1px -1px 30px -1px;
  }
  
  .TEAM .member .member-content {
    padding: 0 20px 30px 20px;
  }
  
  .TEAM .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 20px;
  }
  
  .TEAM .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #000000;
  }
  
  .TEAM .member p {
    padding-top: 10px;
    font-size: 16px;
    color: #000000;
  }
  
  .TEAM .member .social {
    margin-top: 15px;
  }
  
  .TEAM .member .social a {
    color: rgba(14, 29, 52, 0.5);
    transition: 0.3s;
  }
  
  .TEAM .member .social a:hover {
    color: var(--color-primary);
  }
  
  .TEAM .member .social i {
    font-size: 18px;
    margin: 0 2px;
  }

  /*--------------------------------------------------------------
# Frequently Asked Questions Section
--------------------------------------------------------------*/
.faq {
  padding-top: 80px;
}

.faq .accordion-item {
  border: 0;
  margin-bottom: 10px;
}

.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 15px 30px 20px 60px;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: var(--color-default);
  text-align: left;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  border-bottom: 0;
  box-shadow: none;
}

.faq .question-icon {
  position: absolute;
  top: 14px;
  left: 25px;
  font-size: 20px;
  color: var(--color-primary);
}

.faq .accordion-button:after {
  position: absolute;
  right: 15px;
  top: 15px;
}

.faq .accordion-body {
  padding: 0 30px 25px 60px;
  border: 0;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}
